<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
<mapper namespace="com.jiungkris.jjuproject.mappers.BBSMapper">

    <insert id="create">
 		INSERT INTO jjuproject.tbl_bbs (b_title, b_pw, b_content, b_writer, b_views, b_group, b_step, b_indent ) 
    	SELECT #{b_title}, #{b_pw}, #{b_content}, #{b_writer}, 0, max(b_no)+1, 0, 0 
    	FROM jjuproject.tbl_bbs
    </insert>
    
    <select id="list" resultType="bbsVO">
    	SELECT * FROM jjuproject.tbl_bbs ORDER BY b_group DESC, b_step ASC
    </select>
    
    <select id="read" resultType="bbsVO">
    	SELECT * FROM jjuproject.tbl_bbs WHERE b_no = #{b_no}
    </select>
 
    <delete id="delete">
        DELETE FROM jjuproject.tbl_bbs WHERE b_no = #{b_no}
    </delete>
    
    <update id="update">
        UPDATE jjuproject.tbl_bbs SET b_title = #{b_title} , b_pw = #{b_pw}, b_writer = #{b_writer}, b_content = #{b_content} , b_views = #{b_views} WHERE b_no = #{b_no}
    </update>
 
 	<!-- Paging -->
 	<select id="getCount" resultType="int">
 		SELECT count(*) FROM jjuproject.tbl_bbs
 	</select>
 	
 	<select id="paging" resultType="bbsVO">
 		SELECT * FROM jjuproject.tbl_bbs ORDER BY b_group DESC, b_step ASC LIMIT #{offset}, #{noOfRecords}
 	</select>
 	
 	<!-- Get IDs -->
 	<select id="getIds" resultType="memberVO">
 		SELECT id, name FROM jjuproject.tbl_member ORDER BY name ASC;
 	</select>
</mapper>